{% extends 'partials/base.html' %}
{% block title %} Product Update Page {% endblock %}

{% load static %}

{% block content %}
<style>
    body {
      background-color: #C9FFBB;
    }
    .center {
        margin: auto;
        width: 50%;
        padding: 10px;
    }
    </style>
  <br> <br>  <br>

<h1 class="text-center mt-2" style="color:Tomato;" > Edit Product  </h1>
<hr>
<div class="col-md-8 text-center center">
<form class="mb-4" action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <a class="btn btn-info" href="{% url 'main-product' %}"> Cancel</a>
    <input type="submit" value="Submit" class="btn btn-success ">
</form>
</div>

{% endblock %}